*, *::before, *::after {
	 box-sizing:border-box;
}
body{
     margin:0;
	 padding:0;
	 box-sizing:border-box;
}
.container{
	width: 100%;
	height:750px;
	 border:3px solid red; 
	display: block
}
.header{
	    width:100%;
		height:200px;
		background-image:url("type.jpg"); 
	    background-repeat: no-repeat;
		background-size:cover;
		position: absolute;
		top:3px;
		left: 3px;
        
	    
}
.one{
	width:100%;
	text-align:center;
	color:yellow;
	}
	
.two{
	width:100%;
	text-align:center;
	color:white;
	
}
.three{
	width:100%;
	text-align:center;
	
}	
.about{
	width:100%;
	height:150px;
	position: absolute;
	top: 203px;
	
}
.four{
	width:100%;
	font-size:30px;
	font-family:bold;
}
.five{
	width:100%;
	font-size:20px;
}
.skills{
	width:100%;
	height:200px;
	background-color:pink;
	position: absolute;
	top: 353px;
	
}
.contact{
	width:100%;
	height:100px;
	background-color:white;
	position: absolute;
	top: 553px;
}
.credits{
	width:100%;
	height:100px;
	background-color:pink;
	position: absolute;
	top: 653px;
	
}